{{extend 'layout.html'}}


<ul class="thumbnails">
	{{for i,row in enumerate(rows):}}
	{{if i==items_per_page: break}}
	<li class="span4">
		<a href="{{=row.image_path}}" class="thumbnail">
			<img src="{{=row.image_path}}" alt="">
		</a>
		<center>{{=row.upload_date}}</center>
	</li>
	{{pass}}
</ul>


<ul class="pager">
	{{if page:}}
	<li class="previous"><a href="{{=URL(args=[page-1])}}">previous</a></li>
	{{pass}}

	{{if len(rows)>items_per_page:}}
	<li class="next"><a href="{{=URL(args=[page+1])}}">next</a></li>
	{{pass}}
</ul>